.splitScreen {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.topPane {
  width: '50%';
}

.bottomPane {
  width: '50%';
}

.table {
  border: 1px solid black;
}

.td {
  border: 8px solid grey;
  border-collapse: collapse;
  text-align: center;
}
